[mysqld]
symbolic-links=0

tmp_table_size = 16M
max_heap_table_size = 16M

slow_query_log = 1
slow_query_log_file = /var/log/mariadb/maria-slow.log
long_query_time = 3

interactive_timeout = 60
wait_timeout = 60

bind_address = 127.0.0.1

local_infile = 0

skip_show_database = 1

